In [93]:
import pandas as pd

In [94]:
files = {}
files_numbers = [2,10,40,80,140,200,260,320]
iterations = [0,1,2,3,4]

In [95]:
# join every data frame in df
for num in files_numbers:
    for i in iterations:
        aux = pd.read_csv(f'../src/main/resources/output/velocity/diffNh/velocity_{num}_{i}.csv')
        if num not in files:
            files[num] = aux.rename(columns={'Time':'Time','Zombies': f'FZ_{num}_{i}'})
        else:
            aux = aux.rename(columns={'Time':'Time','Zombies': f'FZ_{num}_{i}'})
            #join aux to files[num] by Time column and if there is a NaN in any of the columns, fill it with 0
            files[num] = files[num].join(aux.set_index('Time'), on='Time', how='outer').fillna(1)
            # files[num] = files[num].join(aux.set_index('Time'), on='Time', how='inner', rsuffix='_r')
#set Time as index and should be ordered ascending
for num in files_numbers:
    files[num] = files[num].set_index('Time').sort_index()
files[320]

         FZ_320_0  FZ_320_1  FZ_320_2  FZ_320_3  FZ_320_4
Time
0.000    0.003115  0.003115  0.003115  0.003115  0.003115
0.125    0.003115  0.003115  0.003115  0.003115  0.003115
0.250    0.006231  0.006231  0.006231  0.006231  0.006231
0.375    0.006231  0.006231  0.006231  0.006231  0.006231
0.500    0.006231  0.006231  0.006231  0.006231  0.006231
...           ...       ...       ...       ...       ...
134.875  1.000000  1.000000  1.000000  1.000000  1.000000
135.000  1.000000  1.000000  1.000000  1.000000  1.000000
135.125  1.000000  1.000000  1.000000  1.000000  1.000000
135.250  1.000000  1.000000  1.000000  1.000000  1.000000
135.250  1.000000  1.000000  1.000000  1.000000  1.000000

[1088 rows x 5 columns]

In [96]:
# take average for each time in every key
for key in files:
    # take average for each row without the first column
    files[key][f'FZ_{key}'] = files[key].mean(axis=1)
    print(files[key][f'FZ_{key}'])
    #drop all columns except FZ_{key}
    files[key] = files[key][[f'FZ_{key}']]

Time
0.000      0.333333
0.125      0.333333
0.250      0.333333
0.375      0.333333
0.500      0.333333
             ...
179.000    1.000000
179.125    1.000000
179.250    1.000000
179.375    1.000000
179.375    1.000000
Name: FZ_2, Length: 1441, dtype: float64
Time
0.000      0.090909
0.125      0.090909
0.250      0.090909
0.375      0.090909
0.500      0.090909
             ...
135.875    1.000000
136.000    1.000000
136.125    1.000000
136.250    1.000000
136.275    1.000000
Name: FZ_10, Length: 1096, dtype: float64
Time
0.000      0.02439
0.125      0.02439
0.250      0.02439
0.375      0.02439
0.500      0.02439
            ...
102.375    1.00000
102.500    1.00000
102.625    1.00000
102.750    1.00000
102.850    1.00000
Name: FZ_40, Length: 828, dtype: float64
Time
0.000      0.012346
0.125      0.012346
0.250      0.012346
0.375      0.012346
0.500      0.012346
             ...
101.500    1.000000
101.625    1.000000
101.750    1.000000
101.875    1.000000
101.925    1.000000
Name: FZ_80, Length: 821, dtype: float64
Time
0.000      0.007092
0.125      0.007092
0.250      0.007092
0.375      0.014184
0.500      0.014184
             ...
106.875    1.000000
107.000    1.000000
107.125    1.000000
107.250    1.000000
107.300    1.000000
Name: FZ_140, Length: 864, dtype: float64
Time
0.000      0.004975
0.125      0.004975
0.250      0.004975
0.375      0.004975
0.500      0.004975
             ...
122.250    1.000000
122.375    1.000000
122.500    1.000000
122.625    1.000000
122.625    1.000000
Name: FZ_200, Length: 987, dtype: float64
Time
0.000      0.003831
0.125      0.003831
0.250      0.007663
0.375      0.007663
0.500      0.007663
             ...
139.750    1.000000
139.875    1.000000
140.000    1.000000
140.125    1.000000
140.225    1.000000
Name: FZ_260, Length: 1127, dtype: float64
Time
0.000      0.003115
0.125      0.003115
0.250      0.006231
0.375      0.006231
0.500      0.006231
             ...
134.875    1.000000
135.000    1.000000
135.125    1.000000
135.250    1.000000
135.250    1.000000
Name: FZ_320, Length: 1088, dtype: float64

In [97]:
files

{2:              FZ_2
 Time
 0.000    0.333333
 0.125    0.333333
 0.250    0.333333
 0.375    0.333333
 0.500    0.333333
 ...           ...
 179.000  1.000000
 179.125  1.000000
 179.250  1.000000
 179.375  1.000000
 179.375  1.000000

 [1441 rows x 1 columns],
 10:             FZ_10
 Time
 0.000    0.090909
 0.125    0.090909
 0.250    0.090909
 0.375    0.090909
 0.500    0.090909
 ...           ...
 135.875  1.000000
 136.000  1.000000
 136.125  1.000000
 136.250  1.000000
 136.275  1.000000

 [1096 rows x 1 columns],
 40:            FZ_40
 Time
 0.000    0.02439
 0.125    0.02439
 0.250    0.02439
 0.375    0.02439
 0.500    0.02439
 ...          ...
 102.375  1.00000
 102.500  1.00000
 102.625  1.00000
 102.750  1.00000
 102.850  1.00000

 [828 rows x 1 columns],
 80:             FZ_80
 Time
 0.000    0.012346
 0.125    0.012346
 0.250    0.012346
 0.375    0.012346
 0.500    0.012346
 ...           ...
 101.500  1.000000
 101.625  1.000000
 101.750  1.000000
 101.875  1.000000
 101.925  1.000000

 [821 rows x 1 columns],
 140:            FZ_140
 Time
 0.000    0.007092
 0.125    0.007092
 0.250    0.007092
 0.375    0.014184
 0.500    0.014184
 ...           ...
 106.875  1.000000
 107.000  1.000000
 107.125  1.000000
 107.250  1.000000
 107.300  1.000000

 [864 rows x 1 columns],
 200:            FZ_200
 Time
 0.000    0.004975
 0.125    0.004975
 0.250    0.004975
 0.375    0.004975
 0.500    0.004975
 ...           ...
 122.250  1.000000
 122.375  1.000000
 122.500  1.000000
 122.625  1.000000
 122.625  1.000000

 [987 rows x 1 columns],
 260:            FZ_260
 Time
 0.000    0.003831
 0.125    0.003831
 0.250    0.007663
 0.375    0.007663
 0.500    0.007663
 ...           ...
 139.750  1.000000
 139.875  1.000000
 140.000  1.000000
 140.125  1.000000
 140.225  1.000000

 [1127 rows x 1 columns],
 320:            FZ_320
 Time
 0.000    0.003115
 0.125    0.003115
 0.250    0.006231
 0.375    0.006231
 0.500    0.006231
 ...           ...
 134.875  1.000000
 135.000  1.000000
 135.125  1.000000
 135.250  1.000000
 135.250  1.000000

 [1088 rows x 1 columns]}

In [98]:
# join all data frames in one
df = files[2]
for key in files:
    if key != 2:
        #join files[key] to df by Time column and if there is a NaN in any of the columns, fill it with 1
        df = df.join(files[key], on='Time', how='outer').fillna(1)
        # df = df.join(files[key], on='Time', how='inner', rsuffix='_r')
df

,Time,FZ_2,FZ_10,FZ_40,FZ_80,FZ_140,FZ_200,FZ_260,FZ_320
0.000,0.000,0.333333,0.090909,0.02439,0.012346,0.007092,0.004975,0.003831,0.003115
0.125,0.125,0.333333,0.090909,0.02439,0.012346,0.007092,0.004975,0.003831,0.003115
0.250,0.250,0.333333,0.090909,0.02439,0.012346,0.007092,0.004975,0.007663,0.006231
0.375,0.375,0.333333,0.090909,0.02439,0.012346,0.014184,0.004975,0.007663,0.006231
0.500,0.500,0.333333,0.090909,0.02439,0.012346,0.014184,0.004975,0.007663,0.006231
...,...,...,...,...,...,...,...,...,...
NaN,140.225,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000
NaN,121.600,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000
NaN,131.025,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000
NaN,131.325,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000
NaN,131.975,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000

In [99]:
#export to csv in output folder from data analysis folder
df.to_csv('./outputs/infection_velocities.csv', index=False, header=True)